In [1]:
import numpy as np
import pandas as pd

In [2]:
import pandas as pd

path = r"C:\Users\manik\OneDrive\Desktop\coustmer_dataset.csv"
df = pd.read_csv(path)

df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df['Review Rating'] = df.groupby('Category')['Review Rating'] \
    .transform(lambda x: x.fillna(x.mean()))

In [4]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [5]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [6]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [7]:
###creating coloumn called age_groups
labels = ['young', 'adult', 'middle_aged', 'senior']
bins = [0, 25, 40, 60, 100]

df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels)

df[['age', 'age_group']].head(30)

    age    age_group
0    55  middle_aged
1    19        young
2    50  middle_aged
3    21        young
4    45  middle_aged
5    46  middle_aged
6    63       senior
7    27        adult
8    26        adult
9    57  middle_aged
10   53  middle_aged
11   30        adult
12   61       senior
13   65       senior
14   64       senior
15   64       senior
16   25        young
17   53  middle_aged
18   52  middle_aged
19   66       senior
20   21        young
21   31        adult
22   56  middle_aged
23   31        adult
24   18        young
25   18        young
26   38        adult
27   56  middle_aged
28   54  middle_aged
29   31        adult

In [8]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,middle_aged
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,young
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,middle_aged
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,young
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,middle_aged

In [9]:
###handling the catogracial coloumn 
## creating coloumn 
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [10]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [11]:
 df = df.drop('promo_code_used',axis=1)

In [12]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group'],
      dtype='object')

In [13]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,middle_aged
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,young
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,middle_aged
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,young
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,middle_aged

In [14]:
df.tail()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,32,Venmo,Weekly,adult
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,41,Bank Transfer,Bi-Weekly,middle_aged
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,24,Venmo,Quarterly,middle_aged
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,24,Venmo,Weekly,middle_aged
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,33,Venmo,Quarterly,middle_aged

In [15]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

password = quote_plus("mani@sql5825u")

engine = create_engine(
    f"mysql+pymysql://root:{password}@localhost:3306/analysis_database"
)

In [16]:
df.to_sql(
    "coustmer_table",
    engine,
    if_exists="replace",   # drops old table & creates new one
    index=False
)

3900

In [17]:
%load_ext sql

In [18]:
%sql mysql+pymysql://root:mani%40sql5825u@localhost:3306/analysis_database

In [19]:
%%sql
show databases;

 * mysql+pymysql://root:***@localhost:3306/analysis_database
10 rows affected.

[('analysis_database',),
 ('information_schema',),
 ('mani_newdatabase',),
 ('mysql',),
 ('new_database',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('uber',),
 ('world',)]

In [20]:
%%sql 
use analysis_database;

 * mysql+pymysql://root:***@localhost:3306/analysis_database
0 rows affected.

[]

In [21]:
%%sql 
select * from coustmer_table limit 10;

 * mysql+pymysql://root:***@localhost:3306/analysis_database
10 rows affected.

[(1, 55, 'Male', 'Blouse', 'Clothing', 53, 'Kentucky', 'L', 'Gray', 'Winter', 3.1, 'Yes', 'Express', 'Yes', 14, 'Venmo', 'Fortnightly', 'middle_aged'),
 (2, 19, 'Male', 'Sweater', 'Clothing', 64, 'Maine', 'L', 'Maroon', 'Winter', 3.1, 'Yes', 'Express', 'Yes', 2, 'Cash', 'Fortnightly', 'young'),
 (3, 50, 'Male', 'Jeans', 'Clothing', 73, 'Massachusetts', 'S', 'Maroon', 'Spring', 3.1, 'Yes', 'Free Shipping', 'Yes', 23, 'Credit Card', 'Weekly', 'middle_aged'),
 (4, 21, 'Male', 'Sandals', 'Footwear', 90, 'Rhode Island', 'M', 'Maroon', 'Spring', 3.5, 'Yes', 'Next Day Air', 'Yes', 49, 'PayPal', 'Weekly', 'young'),
 (5, 45, 'Male', 'Blouse', 'Clothing', 49, 'Oregon', 'M', 'Turquoise', 'Spring', 2.7, 'Yes', 'Free Shipping', 'Yes', 31, 'PayPal', 'Annually', 'middle_aged'),
 (6, 46, 'Male', 'Sneakers', 'Footwear', 20, 'Wyoming', 'M', 'White', 'Summer', 2.9, 'Yes', 'Standard', 'Yes', 14, 'Venmo', 'Weekly', 'middle_aged'),
 (7, 63, 'Male', 'Shirt', 'Clothing', 85, 'Montana', 'M', 'Gray', 'Fall', 3.2, 'Yes', 'Free Shipping', 'Yes', 49, 'Cash', 'Quarterly', 'senior'),
 (8, 27, 'Male', 'Shorts', 'Clothing', 34, 'Louisiana', 'L', 'Charcoal', 'Winter', 3.2, 'Yes', 'Free Shipping', 'Yes', 19, 'Credit Card', 'Weekly', 'adult'),
 (9, 26, 'Male', 'Coat', 'Outerwear', 97, 'West Virginia', 'L', 'Silver', 'Summer', 2.6, 'Yes', 'Express', 'Yes', 8, 'Venmo', 'Annually', 'adult'),
 (10, 57, 'Male', 'Handbag', 'Accessories', 31, 'Missouri', 'M', 'Pink', 'Spring', 4.8, 'Yes', '2-Day Shipping', 'Yes', 4, 'Cash', 'Quarterly', 'middle_aged')]

In [22]:
%%sql
##GENERATING INSIGHTS FROM THE DATA 
#Q1--> what is the total revenue generated bu male vs female custemers?
select gender,sum(purchase_amount) as total_purchase
from coustmer_table 
group by gender

 * mysql+pymysql://root:***@localhost:3306/analysis_database
2 rows affected.

[('Male', Decimal('157890')), ('Female', Decimal('75191'))]

In [23]:
%%sql
#Q2--->Which top 5 product has highest review_rating among all the products
SELECT item_purchased, ROUND(AVG(review_rating), 2) AS average_rating
FROM coustmer_table
GROUP BY item_purchased
ORDER BY AVG(review_rating) DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/analysis_database
5 rows affected.

[('Gloves', 3.86),
 ('Sandals', 3.84),
 ('Boots', 3.82),
 ('Hat', 3.8),
 ('Skirt', 3.78)]

In [24]:
%%sql
#Q3--->compare the average amount of purchase between standard and express shipping

select shipping_type, 
       ROUND(AVG(purchase_amount), 2) AS avg_purchase_amount
from coustmer_table
where shipping_type IN ('Standard', 'Express')
group by shipping_type;

 * mysql+pymysql://root:***@localhost:3306/analysis_database
2 rows affected.

[('Express', Decimal('60.48')), ('Standard', Decimal('58.46'))]

In [25]:
%%sql
#Q4-->Q5. DO subscribed customers spend more? Compare average spend and total revenue between subscribers and mon-subscribers.
select subscription_status,
COUNT(customer_id) AS TOTAL_CUSTOMERS,
ROUND(AVG(purchase_amount),2) AS AVG_SPENDING,
ROUND(SUM(purchase_amount),2) AS TOTAL_REVENUE
FROM coustmer_table 
GROUP BY subscription_status
ORDER BY AVG_SPENDING,TOTAL_REVENUE DESC;

 * mysql+pymysql://root:***@localhost:3306/analysis_database
2 rows affected.

[('Yes', 1053, Decimal('59.49'), Decimal('62645')),
 ('No', 2847, Decimal('59.87'), Decimal('170436'))]

In [26]:
%%sql
##Q5-->Which 5 products has the highest percentage of purchases with discounts applied

select item_purchased,count(item_purchased) as PURCHASE_COUNT,
ROUND(100 * SUM(CASE WHEN discount_applied = 'yes' THEN 1 ELSE 0 END)/COUNT(*),2) AS DISCOUNT_RATE
from coustmer_table 
group by  item_purchased
order by DISCOUNT_RATE desc
limit 5;

 * mysql+pymysql://root:***@localhost:3306/analysis_database
5 rows affected.

[('Hat', 154, Decimal('50.00')),
 ('Sneakers', 145, Decimal('49.66')),
 ('Coat', 161, Decimal('49.07')),
 ('Sweater', 164, Decimal('48.17')),
 ('Pants', 171, Decimal('47.37'))]

In [27]:
%%sql
#Q6-->Segment customers  as NEW,RETURNING AND LOYAL based on Their prviouspurchases and  list their no.of purchases
with customers_type as (
select customer_id,previous_purchases ,
    CASE
    WHEN previous_purchases = 1 THEN 'NEW'
    WHEN  previous_purchases BETWEEN 2 AND 10 THEN 'RETURNING'
    ELSE 'LOYAL'
END AS CUSTOMER_SEGMENT
FROM coustmer_table) 

SELECT  CUSTOMER_SEGMENT, COUNT(*) AS "NO.OF CUSTOMERS"
FROM customers_type 
GROUP BY CUSTOMER_SEGMENT

 * mysql+pymysql://root:***@localhost:3306/analysis_database
3 rows affected.

[('LOYAL', 3116), ('RETURNING', 701), ('NEW', 83)]

In [28]:
%%sql
##Q7-->which is the top 3 puruchased items of each category
with items_count as(
select category,
item_purchased,
count(customer_id) as total_orders,
ROW_NUMBER() over(partition by category order by count(customer_id) desc) as item_rank
FROM coustmer_table
group by category, item_purchased
)

select item_rank ,category, item_purchased, total_orders 
from items_count
where item_rank <= 3;

 * mysql+pymysql://root:***@localhost:3306/analysis_database
11 rows affected.

[(1, 'Accessories', 'Jewelry', 171),
 (2, 'Accessories', 'Sunglasses', 161),
 (3, 'Accessories', 'Belt', 161),
 (1, 'Clothing', 'Blouse', 171),
 (2, 'Clothing', 'Pants', 171),
 (3, 'Clothing', 'Shirt', 169),
 (1, 'Footwear', 'Sandals', 160),
 (2, 'Footwear', 'Shoes', 150),
 (3, 'Footwear', 'Sneakers', 145),
 (1, 'Outerwear', 'Jacket', 163),
 (2, 'Outerwear', 'Coat', 161)]

In [29]:
%%sql
##Q8--->Are the customers who are repeat buyers (more than 5 previous purchases) also likely to subscribe?
select subscription_status,
count(customer_id) as repeat_buyers
from coustmer_table
where  previous_purchases > 5
group by subscription_status  
order by repeat_buyers;

 * mysql+pymysql://root:***@localhost:3306/analysis_database
2 rows affected.

[('Yes', 958), ('No', 2518)]

In [30]:
%%sql
##Q9--->What is the revenue contribution of each age group

select age_group,
sum(purchase_amount) as total_purschase_amount
from coustmer_table
group by age_group
order by total_purschase_amount desc;

 * mysql+pymysql://root:***@localhost:3306/analysis_database
4 rows affected.

[('middle_aged', Decimal('89445')),
 ('adult', Decimal('65842')),
 ('senior', Decimal('43164')),
 ('young', Decimal('34630'))]